.foodieicon{
    position: relative;
    height: 30px;
   right: 30px;
}

.nav{
    width: 100%;
    height: 40px;
    position: relative;
    top:30px;
    left: 30px;
}
.navbarlist{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    flex-wrap: wrap;
 

}
.homenav{
    color:#39DB4A;
    margin-left: 100px;
}
#navdownsymbol{
    color: #39DB4A;
    border: none;
}

#navlist{
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
    top: 5px;
}

.searchnavicon{
    height: 20px;
    position: relative;
    top: 5px;
    left: 250px;
    float: left;
}
.shoppingnavicon{
    height: 20px;
    position: relative;
    top: 2px;
    left: 250px;
    float: left;
}
.navcontact{
    background-color: #5FE26C;
    background-size: cover;
    border-radius: 10px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
    height: 20px;
    position: relative;
    left: 250px;
    float: left;
    top: 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
#rightnavicons{
    padding-left: 20px;
    padding-right: 20px;
}

.navcontact img{
    height: 17px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 5px;
    padding-right: 5px;
}

.navcontact p{
    color: #EDFFEF;
    margin: 0px;
}

.greenfood{
    color: #39DB4A;
}

.home{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.homeleftcontent{
    float: left;
    width: 40%;
    position: relative;
    left: 7%;
    top: 150px;
}
.homeheading{
    font-family: 'Josefin Sans', sans-serif;
    /* font-family: 'Libre Baskerville', serif; */
    font-weight: 400;
    font-size: 40px;
    width: 100%;
}
.homepara{
 font-family: sans-serif;
 width: 70%;
}
.homeordericon{
    background-color: #5FE26C;
    border-radius: 30px;
    background-size: cover;
    width: 115px;
    box-shadow: 5px 10px 10px #5FE26C;
    position: relative;
    top: 10px;
}
.homeorderpara{
    color: #EDFFEF;
    font-size: 15px;
    padding-left: 5px;
    text-align: center;
    
}
.homewatchicon{
    position: relative;
    left: 15px;
}
.homewatchicon img{
    height: 20px;
    position: relative;
    left: 15px;
    top: 9px;
    border: 10px solid #EDFFEF;
    border-radius: 50%;
    box-shadow: 0px 15px 10px #555555 ;
}
.homeicons{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.homerightcontent{
    float: right;
    width: 40%;
    position: relative;
    right: 7%;
}

.hotspicyfoodimg{
    height: 500px;
    width: 500px;
    position: relative;
    top: 40px;
}

.hotspicychild{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.hotspicychild1{
    background-color:#EDFFEF;
    border-radius: 10px;
    box-shadow: 10px 10px 20px #555555;
    height: 80px;
    width: 200px;
    position: relative;
    left: 60px;
}

.child1img1{
    height: 60px;
    width: 60px;
    position: relative;
    top: 10px;
    left: 10px;
}
.child1img2{
    height: 10px;
    width: 70px;
    position: relative;
    left: 85px;
    bottom: 94px;
}
.homevegetablediv1{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.child1para1{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 12px;
    width: 20%;
    position: relative;
    left: 80px;
    bottom: 60px;
}

.child1para3{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 12px;
    width: 20%;
    position: relative;
    left: 146px;
    bottom: 85px;
}

.child1para2{
    font-family: 'Times New Roman', Times, serif;
    position: relative;
    left: 84px;
    bottom: 91px;

}
.child1para2 span{
    color: #FF7979;
    font-size: 11px;
}
.vegetablediv1{
    width: 100%;
}

.hotspicychild2{
    background-color: #EDFFEF;
    border-radius: 10px;
    box-shadow: 10px 10px 20px #555555;
    height: 80px;
    width: 200px;
    position: relative;
    left: 100px;
}

.child2img1{
    height: 60px;
    width: 60px;
    position: relative;
    top: 10px;
    left: 10px;
}

.child2img2{
    height: 10px;
    width: 70px;
    position: relative;
    left: 85px;
    bottom: 94px;
}

.child2para1{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 12px;
    width: 20%;
    position: relative;
    left: 80px;
    bottom: 60px;
}

.child2para3{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 12px;
    width: 20%;
    position: relative;
    left: 112px;
    bottom: 85px;
}


.child2para2{
    font-family: 'Times New Roman', Times, serif;
    position: relative;
    left: 84px;
    bottom: 91px;
}

.child2para2 span{
  color: #FF7979;
  font-size: 11px;
}
