.foodieicon{
    position: relative;
    height: 30px;
   right: 30px;
}

.nav{
    width: 100%;
    height: 40px;
    position: relative;
    top:30px;
    left: 30px;
}
.navbarlist{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    flex-wrap: wrap;
 

}
.homenav{
    color:#39DB4A;
    margin-left: 100px;
}
#navdownsymbol{
    color: #39DB4A;
    border: none;
}

#navlist{
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
    top: 5px;
}

.searchnavicon{
    height: 20px;
    position: relative;
    top: 5px;
    left: 250px;
    float: left;
}
.shoppingnavicon{
    height: 20px;
    position: relative;
    top: 2px;
    left: 250px;
    float: left;
}
.navcontact{
    background-color: #5FE26C;
    background-size: cover;
    border-radius: 10px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
    height: 20px;
    position: relative;
    left: 250px;
    float: left;
    top: 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
#rightnavicons{
    padding-left: 20px;
    padding-right: 20px;
}

.navcontact img{
    height: 17px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 5px;
    padding-right: 5px;
}

.navcontact p{
    color: #EDFFEF;
    margin: 0px;
}

